<!-- howdy/templates/index.html -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>homepage</title>
    </head>
    <body>
        <h1>Welcome to junknachos, another internet web site</h1>
    {% load static %}
    <img src="{% static "howdy/southpark.jpg" %}" alt="southpark"/><NOBR><CODE><DIV ...></CODE></NOBR>
    <DIV><a href="/about/">About junknachos</a><NOBR><CODE><DIV ...></CODE></NOBR>
    <DIV><a href="/sites/">Sites junknachos is linking to</a><NOBR><CODE><DIV ...></CODE></NOBR>
    </body>
</html>
