<!-- howdy/templates/sites.html -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>sites</title>
    </head>
    <body>
        <h1>Sites junknachos is linking to</h1>
    <p>
   <DIV><a href="http://www.reddit.com">reddit</a><NOBR><CODE><DIV ...></CODE></NOBR>
   <DIV><a href="http://www.imdb.com">IMDb</a><NOBR><CODE><DIV ...></CODE></NOBR>
   <DIV><a href="http://www.junk.com">junk</a><NOBR><CODE><DIV ...></CODE></NOBR>
    </p>
    <a href="/">Go back home</a>
    </body>
</html>

